<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Hello World!</h1>
    <!-- 로그인 안되어있는 경우에만 뜸 -->
    <div th:if="${not #authorization.expression('isAuthenticated()')}">
        <form action="/user/signup" method="get">
            <button type="submit">회원가입</button>
        </form>
        <form action="/user/login" method="get">
            <button type="submit">로그인</button>
        </form>
    </div>

    <!-- 로그인 되어있는 경우에만 뜸 -->
    <div th:if="${#authorization.expression('isAuthenticated()')}">
        <form action="/user/logout">
            <button type="submit">로그아웃</button>
        </form>
        <form action="/user/delete" method="get">
            <button type="submit">회원탈퇴</button>
        </form>
    </div>
</body>
</html>